@import url('fonts.css');
@import url('colors.css');

:root {
    --navbar-height: 66px;
    --footer-height: 66px;
    --chat-width: 450px;
    --comm-bar-height: 178px;
}

body {
    font-family: 'Avenir Next LT Pro Regular', sans-serif;
}

h1, .title {
    font-family: 'Century Gothic Bold', sans-serif;
}

h2, .subtitle {
    font-family: 'Roboto Light', sans-serif;
}

#main-container {
    display: flex;
    height: calc(100vh - var(--navbar-height) - var(--footer-height));
}

#page {
    padding-top: 15px;
    flex-grow: 1;
    padding-left: 0;
    padding-right: 0;
}

#chat {
    border-width: 0 8px;
    border-style: solid;
    border-color: var(--c-pink);
    width: var(--chat-width);
    min-width: var(--chat-width);
    max-width: var(--chat-width);
}

.navbar {
    background-color: var(--c-pink);
}

.feedback {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
}

#nav-logo {
    filter: brightness(100%);
    transition: all 0.15s ease;
}

#nav-logo:hover {
    filter: brightness(80%);
}

.card-hf-column {
    padding: 0.75rem;
    border-right: 1px solid rgba(0,0,0,.125);
    width: fit-content;
    display: flex;
    align-items: center;
}

.card-hf-divided {
    padding: 0 0 0 0 !important;
    display: flex;
}

.table-thin-padding td {
    padding-left: 0.375rem;
    padding-right: 0.375rem;
}

.table-no-border > tbody > tr:first-child > td {
    border-top: 0;
}

.card-body-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 0 0 0 !important;
}

.card-body-column {
    padding: 15px;
}

.card-body-row > .card-body-column:not(:last-child) {
    border-right: 1px solid rgba(0,0,0,.125);
}

.footer {
    position: fixed;
    bottom: 0;
    background-color: #f5f5f5;
    height: var(--footer-height);
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.125);
    z-index: 1000;
    padding-top: 9px;
    box-shadow: 0 0 .5rem rgba(0,0,0,.25)!important;
}

.footer-spacer {
    height: 60px;
    width: 100%;
}

.footer a {
    color: inherit;
}

.footer a:hover {
    text-decoration: underline;
}

.custom-file-input ~ .custom-file-label::after {
    padding-top: 0.35em;
    content: "\f07c" !important;
    display: inline-block;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.custom-file-label {
    display: flex;
}

.custom-file-label > span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: calc(100% - 40px);
}

.user-picture {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
}

.user-picture-inline {
    width: 48px;
    height: 48px;
}

.user-picture:not(.user-picture-inline):hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, 1);
}

.card {
    border-color: var(--c-pink);
}

.link-inherit {
    color: inherit !important;
}

#comm-bar {
    position: fixed;
    width: calc(100% - var(--chat-width));
    border-top: 6px solid var(--c-pink);
    bottom: var(--footer-height);
    height: var(--comm-bar-height);
}

#comm-list {
    overflow-y: scroll;
    height: calc(100% - var(--comm-bar-height));
}

#comm-list-top {
    position: sticky;
    top: 0;
    background: white;
}

.comm-votes {
    width: 40px;
}

.comm-votes > i {
    font-size: 28px;
}

.comm-votes button > i:hover, .comm-votes button > i.active {
    color: var(--c-pink);
}

.comm-texte {
    padding-left: 68px;
}

.comm-nvotes {
    width: 18px;
    padding-right: 10px;
    text-align: right;
}

.comm-votes button {
    outline: none !important;
    border: none !important;
    background: none !important;
}


.incoming_msg_img {
    display: inline-block;
    width: 6%;
}

.incoming_msg_img img {
    width: 100%;
}

.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}

.received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 0 15px 15px 15px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.received_withd_msg {
    width: 57%;
}

.sent_msg p {
    background:#0465ac;
    border-radius: 12px 15px 15px 0;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.outgoing_msg {
    overflow: hidden;
    margin: 26px 0 26px;
}

.sent_msg {
    float: right;
    width: 46%;
}

.input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
    outline:none;
}

.type_msg {
    border-top: 1px solid #c4c4c4;
    bottom: var(--footer-height);
    width: calc(var(--chat-width) - 16px);
    padding-left: 6px;
    position: fixed;
}

.msg_send_btn {
    background: #05728f none repeat scroll 0 0;
    border:none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    height: 33px;
    width: 33px;
}

.messaging {
    padding: 0 0 50px 0;
}

.msg_history {
    overflow-y: auto;
    margin-top: auto;
    margin-bottom: 60px;
}

.input_msg_write {
    display: flex;
    flex-direction: row;
}

.mesgs {
    display: flex;
    flex-direction: column;
    height: 100%;
}
